@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 268px;
  min-width: 320px;
  background-image: url(img/BackgroundMobail.jpg);
  background-repeat: no-repeat;
  background-size: 100% 268px;
}

@media (min-width: 768px) {
  .App-header {
    height: 100vh;
    width: 100vw;
    padding: 0 67px 53px;
    background-image: url(img/BackgroundTablet.jpg);
    background-size: 100% 100%;
  }
}

@media (min-width: 1200px) {
  .App-header {
    background-image: url(img/Background.jpg);
  }
}

.hide {
  display: none;
}

.menu-button {
  cursor: pointer;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-top: 43px;
  color: #f1f1f1;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.main-nav {
  display: none;
  width: 150px;
  height: 100%;
  background-color: rgba(156, 156, 156, 0.4);
  border-radius: 0 20px 0 0;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

@media (min-width: 768px) {
  .main-nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
}

@media (min-width: 1300px) {
  .main-nav {
    margin-bottom: 70px;
  }
}

.main-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 40px;
}

@media (min-width: 768px) {
  .main-nav .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    max-width: 600px;
    margin: 0;
  }
}

.main-nav .nav-list li {
  list-style: none;
  font-size: 18px;
}

@media (min-width: 768px) {
  .main-nav .nav-list li {
    font-size: 24px;
  }
}

.main-nav .nav-list li .nav-list-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #f1f1f1;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.open {
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #bebebe;
}

.scroll-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  color: #f1f1f1;
  text-transform: uppercase;
}

.scroll-container .scroll-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-size: contain;
  border: none;
  outline: none;
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .scroll-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .scroll-head button {
    background-image: url(img/Arrow_white.svg);
  }
}

@media (min-width: 768px) {
  .scroll-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 40px;
    color: #bebebe;
  }
  .scroll-about button {
    background-image: url(img/Arrow_grey.svg);
  }
}

.app-main {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 1080px;
}

@media (min-width: 1500px) {
  .app-main {
    padding: 0 160px;
  }
}

@media (min-width: 768px) {
  .app-main .menu-container {
    padding: 0 67px;
  }
}

.app-main .about {
  padding-bottom: 40px;
  margin: 0 auto;
}

@media (min-width: 1500px) {
  .app-main .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 60px;
  }
}

.mobail-foto {
  display: block;
  margin: 0 auto;
}

.nav-main li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #bebebe;
}

.main-content {
  padding-left: 38px;
  padding-right: 35px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .main-content {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1500px) {
  .main-content {
    margin: 0;
  }
}

.main-content .main-title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 1500px) {
  .main-content .main-title {
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 80px;
  }
}

.main-content .main-text {
  font-size: 17px;
  line-height: 40px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .main-content .main-text {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1500px) {
  .main-content .main-text {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.main-content .main-text-tablet {
  display: none;
  margin-bottom: 60px;
  line-height: 40px;
}

@media (min-width: 768px) {
  .main-content .main-text-tablet {
    display: block;
    font-size: 20px;
  }
}

@media (min-width: 1500px) {
  .main-content .main-text-tablet {
    font-size: 24px;
  }
}

.main-content .author {
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .main-content .author {
    font-size: 36px;
  }
}
/*# sourceMappingURL=App.css.map */